<app-header headerName="Seleccione">
</app-header>
<ion-content>
  <ion-searchbar cancelButtonIcon="close-circle-outline" showCancelButton="always"  debounce="700" animated placeholder="Buscar" (ionChange)="search($event)"></ion-searchbar>

  
  <div text-center>
    <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
  </div>
 <ion-list>
   <ion-item tappable *ngFor="let item of dataListFilter" (click)="setData(item)">
     <ion-icon slot="start" name="locate"></ion-icon>
     <p>{{item.CentrocostosCodigo}} - {{ item.CentrocostosNombre  }} </p>
   </ion-item>
 </ion-list>
</ion-content>
