<app-header headerName="Rutas institucionales">

</app-header>

<ion-content fullscreen class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="GetProgramming($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!loading">
    <ion-list lines="none" *ngFor="let programming of programmings" inset="true">
      <ion-item class="header" lines="none" color="secondary">
        <ion-icon slot="start" name="git-merge"></ion-icon>
        <ion-label>{{programming.RutaNombre}}</ion-label>
        <!-- Botón de inscripción cuando aún NO está inscrito -->
        <ion-button color="light" slot="end" (click)="singUp(programming.SolicitudId)" fill="outline"
          [disabled]="selectedServiceId==programming.SolicitudId" *ngIf="!programming.IsSignedUp">
          <ion-icon slot="start" name="eye"></ion-icon>
          INSCRIBIRME
          <ion-spinner *ngIf="selectedServiceId==programming.SolicitudId" slot="start"></ion-spinner>
        </ion-button>
        <!-- Nuevo botón dorado cuando YA está inscrito -->
        <ion-button class="already-signed" slot="end" fill="outline" *ngIf="programming.IsSignedUp" disabled>
          <ion-icon slot="start" name="checkmark-circle" class="gold-icon"></ion-icon>
          Ya estás inscrito
        </ion-button>

      </ion-item>

      <ion-item *ngIf="!programming.ManejaRuta">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>Conductor</ion-label>
        <ion-note slot="end"> {{programming.Conductor}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="car"></ion-icon>
        <ion-label>Placa</ion-label>
        <ion-note slot="end"> {{programming.PlacaVehiculo}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label>Fecha Servicio</ion-label>
        <ion-note slot="end"> {{ programming.FechaServicio | date:'dd/MM/yyyy HH:mm'}}</ion-note>
      </ion-item>
      <!-- <ion-item *ngIf="_session.isUser() && canEdit  && programming.Estado=='S'" button (click)="confirmCancelService(programming)" color="secondary">
        <ion-icon slot="start" name="close-circle">

        </ion-icon>
        <ion-label>
        CANCELAR
        </ion-label>
      </ion-item>   -->
      <ion-item *ngIf="programming.IsSignedUp" button (click)="cancelService(programming.SolicitudId)"
        color="danger">
        <ion-icon slot="start" name="close-circle">
        </ion-icon>
        <ion-spinner *ngIf="selectedServiceId==programming.SolicitudId" slot="start"></ion-spinner>
        <ion-label>
          CANCELAR
        </ion-label>
      </ion-item>
      <!-- <ion-button color="light" slot="end"
          (click)="cancelService(programming.SolicitudId)" fill="outline">
          <ion-icon slot="start" name="eye"></ion-icon>
          CANCELAR
          <ion-spinner *ngIf="selectedServiceId==programming.SolicitudId" slot="start"></ion-spinner>
        </ion-button> -->
    </ion-list>
  </div>
  <div *ngIf="loading">
    <ion-list id="skeleton">
      <ion-list-header>
        <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

</ion-content>