  
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo-container {
    /* Asegúrate de que el contenedor del logo no empuje al título hacia abajo */
    margin-bottom: 8px; /* Ajusta esto según sea necesario */
  }
  
  ion-title {
    /* Esto es para que el título se mantenga centrado debajo del logo */
  }
  

  .title-ios {
    left: 0px;
    top: 13px;
    padding: 0px 90px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
}