<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="logged() && showBackButton" defaultHref="/" text="Atrás"></ion-back-button> 
            
            </ion-buttons >  
            
            <ion-buttons slot="end">                
                  <ion-button (click)="goSettings()"  *ngIf="logged()">
                    <ion-icon slot="icon-only" name="cog"></ion-icon>
                  </ion-button>                                                                   
            </ion-buttons>
      <ion-title>{{headerName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  