<app-header headerName="Ciudad">
 
</app-header>
<ion-content>
  <ion-searchbar (ionCancel)="closeModal()" cancelButtonIcon="close-circle-outline" showCancelButton="always" cancelButtonText="atrás"  debounce="700" animated placeholder="Buscar" (ionChange)="search($event)"></ion-searchbar>


  
  <div text-center>
    <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
  </div>
 <ion-list>
  <ion-item tappable *ngFor="let item of dataListFilter" (click)="setData(item)">
    <ion-icon slot="start" name="locate"></ion-icon>
    <p>{{item.DescripcionLarga}}</p>
  </ion-item>
 </ion-list>
</ion-content>
