<ion-header>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always" debounce="500" (ionChange)="filterVehicles($event)" animated placeholder="Búsqueda por placa"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" >
    <ion-list lines="none">
      <ion-list-header color="primary">
        <ion-label>Información general</ion-label>
      </ion-list-header>
        <ion-item>
          <ion-icon slot="start" name="contact"></ion-icon>
          <ion-label>Conductor</ion-label>
           <ion-note slot="end"> {{thirdPartie.NombreRazon}} {{ thirdPartie.PrimerApellido }} </ion-note>
        </ion-item>   
        <ion-item>
          <ion-icon slot="start" name="alarm"></ion-icon>
          <ion-label>Fecha Actual</ion-label>
          <ion-note slot="end"> {{ today | date:'dd/mm/yyyy'}}</ion-note>
        </ion-item>        
      </ion-list>
     <ion-item-divider>
       <ion-label>Lista de vehículos</ion-label>
     </ion-item-divider>
      <ion-list lines="none" *ngFor="let vehicle of vehiclesFilter">
        <ion-list-header color="primary">
          <ion-label>Vehículo</ion-label>
        </ion-list-header>
        <ion-item >
          <ion-icon slot="start" name="car"></ion-icon>
          <ion-label>Placa</ion-label>
          <ion-note slot="end">{{vehicle.PlacaVehiculo}}</ion-note>
        </ion-item>
        <!-- <ion-item>
          <ion-icon slot="start" name="stopwatch"></ion-icon>
          <ion-label>Último kilometraje</ion-label>
          <ion-note slot="end"> {{vehicle.Kilometraje}}</ion-note>
        </ion-item> -->
        <ion-item>
          <ion-icon slot="start" name="stopwatch"></ion-icon>        
          <ion-input [(ngModel)]="vehicle.NuevoKilometraje" type="number" placeholder="Ingrese el kilometraje"></ion-input>
        </ion-item>
        <ion-item  text-center button color="secondary" (click)="checkVehicle(vehicle)" >
          <ion-icon slot="start" name="checkmark-circle"></ion-icon> Seleccionar
        </ion-item>        
      </ion-list>


    
</ion-content>
