<app-header headerName="Cambio contraseña" showBackButton="false">

</app-header>

<ion-content fullscreen class="ion-padding">
  <form #changePasswordForm="ngForm">
  <ion-list  inset="true">
    <ion-item>          
        <ion-icon slot="start" name="lock"></ion-icon>
      <ion-input  [type]="showPassword?'text':'password'" name="password" required clearInput placeholder="Contraseña" [(ngModel)]="changePassword.password" #password="ngModel"></ion-input>
      <ion-icon (click)="showPassword=!showPassword" slot="end" [name]="showPassword?'eye-off':'eye'"></ion-icon>
    </ion-item>
    <ion-item>          
        <ion-icon slot="start" name="lock"></ion-icon>
        <ion-input [type]="showNewPassword?'text':'password'" clearInput name="newPassword" required placeholder="Nueva Contraseña" #newPassword="ngModel" [(ngModel)]="changePassword.newPassword"></ion-input>
        <ion-icon (click)="showNewPassword=!showNewPassword" slot="end" [name]="showNewPassword?'eye-off':'eye'"></ion-icon>
      </ion-item>
      <ion-item>          
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input [type]="showReNewPassword?'text':'password'" clearInput name="reNewPassword" required placeholder="Confirmar" #reNewPassword="ngModel" [(ngModel)]="changePassword.reNewPassword"></ion-input>
          <ion-icon (click)="showReNewPassword=!showReNewPassword" slot="end" [name]="showReNewPassword?'eye-off':'eye'"></ion-icon>
        </ion-item>
  </ion-list>
  <div padding>
    <div>
        <ion-label [hidden]="changePassword.newPassword== changePassword.reNewPassword || reNewPassword.pristine ||  newPassword.pristine " color="secondary">*Las contraseñas deben coincidir</ion-label>
    </div>
    <!-- <div>
        <ion-label [hidden]="changePassword.newPassword.length>=8 || newPassword.pristine " color="secondary">*Las contraseña debe contener al menos 8 caractéres</ion-label>
    </div> -->
    
      <ion-button (click)= "changePasswordUser(changePasswordForm)" expand="full" [disabled]="!changePasswordForm.form.valid || sending || changePassword.newPassword != changePassword.reNewPassword " color="primary">
          <ion-spinner *ngIf="sending" slot="start"></ion-spinner>
          <ion-icon *ngIf="!sending"  slot="start"  name="unlock"></ion-icon>
        {{sending?'Actualizando...':'Actualizar'}}</ion-button>
  </div>
 
</form>
</ion-content>
