<app-header headerName="Detalle">

</app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="!_sesion.isUser()" [disabled]="sending" (click)="setState()" expand="block"
        color="danger">
        <ion-icon class="fa-spin" name="clipboard"></ion-icon> {{textButton}}
      </ion-button>
      <ion-button *ngIf="!_sesion.isUser()  && !!contract && contract.Colectivo " (click)="getPassengersService()" expand="block"
      color="primary">
      <ion-icon name="person"></ion-icon>
          &nbsp;Configurar ruta
          <ion-spinner *ngIf="loading" slot="end"></ion-spinner>
    </ion-button>
    <ion-button *ngIf="_sesion.isUser()" (click)="locatePassenger()" expand="block"
    color="danger">
    <ion-spinner *ngIf="locating" slot="end"></ion-spinner>
    <ion-icon name="locate"></ion-icon>
        Compartir ubicación
  </ion-button>
       </ion-col> 
      <!-- <ion-col *ngIf="programming.ManejaRuta">
        <ion-button (click)="showModalPassengers()" color="secondary"  expand="block" >
          <ion-icon name="person"></ion-icon>
          &nbsp; Histórico pasajeros
        </ion-button>
      </ion-col> -->
     </ion-row>   
    <!-- <ion-row>
      <ion-col *ngIf="programming.ManejaRuta">
        <ion-button (click)="validPassenger(2)" color="primary"  expand="block" >
          <ion-icon name="paper"></ion-icon>
          &nbsp; Escanear QR
        </ion-button>
      </ion-col>
      <ion-col *ngIf="programming.ManejaRuta">
        <ion-button (click)="validPassenger(1)" color="success" expand="block" >
          <ion-icon name="card"></ion-icon>
          &nbsp;Identificación
        </ion-button>
      
      </ion-col>  
    </ion-row>   -->
  </ion-grid>
  <ion-item class="header" lines="none" color="secondary">
    <ion-icon slot="start" name="clipboard"></ion-icon>
    <ion-label>INFORMACIÓN GENERAL</ion-label>
  </ion-item>
  <!-- <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>Usuario</ion-label>
       <ion-note slot="end"> {{ programming.NombreRazon}} {{ programming.PrimerApellido}}</ion-note>
    </ion-item>        -->
  <!-- <ion-item  *ngIf="programming.ManejaRuta == 1">
    <ion-icon slot="start" name="git-merge"></ion-icon>
    <ion-label>Ruta</ion-label>
    <ion-note slot="end"> {{ programming.RutaId}} {{ programming.RutaNombre}}</ion-note>
  </ion-item>-->
  <ion-item> 
    <ion-icon slot="start" name="car"></ion-icon>
    <ion-label>Placa</ion-label>
    <ion-note slot="end"> {{ programming.PlacaVehiculo}}</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="ios-information-circle"></ion-icon>
    <ion-label>Fecha Servicio</ion-label>
    <ion-note slot="end"> {{ programming.FechaServicio | date:'dd/MM/yyyy'}} {{ programming.HoraServicio |
      date:'HH:mm'}}</ion-note>
  </ion-item>
  <ion-item class="header" lines="none" color="secondary">
    <ion-icon slot="start" name="locate"></ion-icon>
    <ion-label>ORIGEN</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="map"></ion-icon>
    <ion-label>Ciudad</ion-label>
    <ion-note slot="end"> {{ programming.Origen}}</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="navigate"></ion-icon>
    <ion-label>Dirección</ion-label>
    <ion-note slot="end"> {{ programming.OrigenDireccion}}</ion-note>
  </ion-item>
  <ion-item class="header" lines="none" color="secondary">
    <ion-icon slot="start" name="locate"></ion-icon>
    <ion-label> DESTINO</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="map"></ion-icon>
    <ion-label>Ciudad</ion-label>
    <ion-note slot="end"> {{ programming.Destino}}</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="navigate"></ion-icon>
    <ion-label>Dirección</ion-label>
    <ion-note slot="end"> {{ programming.DestinoDireccion}}</ion-note>
  </ion-item>
  <ion-item *ngIf="isVip()">
    <ion-icon slot="start" name="clipboard"></ion-icon>
    <ion-label>Código de confirmación</ion-label>
    <ion-note slot="end"> {{ programming.CodigoVerificacion}}</ion-note>
  </ion-item>
  <ion-item class="header" lines="none" color="secondary">
    <ion-icon slot="start" name="globe"></ion-icon>
    <ion-label>OBSERVACIONES</ion-label>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label position="stacked">Solo se enviarán si el seguimiento es FINAL</ion-label>
      <ion-textarea rows="3" cols="12" [(ngModel)]="observations" learOnEdit="true"></ion-textarea>
    </ion-item>
  </ion-item>
 

  
    




  <div id="accordion">
    <dx-accordion #accordion [dataSource]="programming.details" [collapsible]="true" [multiple]="false"
      [animationDuration]="1000" noDataText="No hay datos">




      <div text-center *dxTemplate="let detail of 'title'">
        <h1>{{detail.Estado | statesRequestProgramming}}</h1>
      </div>
      <div *dxTemplate="let detail of 'item'">
        <ion-list lines="none" class="map-register">
          <ion-item>
            <ion-icon slot="start" name="calendar"></ion-icon>
            <ion-label>Fecha</ion-label>
            <ion-note slot="end"> {{detail.FechaCrea | date:'dd/MM/yyyy HH:mm'}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="navigate"></ion-icon>
            <ion-label>Latitud</ion-label>
            <ion-note slot="end"> {{detail.Latitude}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="navigate"></ion-icon>
            <ion-label>Longitud</ion-label>
            <ion-note slot="end"> {{detail.Longitude}}</ion-note>
          </ion-item>
          <iframe *ngIf="detail" [src]="detail | mapsUrl" width="100%" height="270" frameborder="0" style="border:0"></iframe>
        </ion-list>
      </div>
    </dx-accordion>
  </div>


   
</ion-content>