/* Estilo por defecto (para móviles) */
.logo {
    max-width: 15vw;
    max-height: 15vw;
    margin: auto;
    margin-bottom: 5px;


}


/* Estilo para tablets y desktops */
@media (min-width: 768px) {
    .logo {
        width: 10vw;
        margin: auto;
        margin-bottom: 5px;
    
    }
}

/* En tu CSS */
.logo-small {
    max-width: 15vw;
    max-height: 15vw;
    margin: auto;
    margin-bottom: 5px;

}

.logo-large {
    max-width: 10vw;
    max-height: 10vw;
    margin: auto;
    margin-bottom: 5px;

}

