<app-header headerName="Servicio">

</app-header>


<ion-content>

  <form #newService="ngForm" autocomplete="off" (ngSubmit)="FinalizeService()">
    <ion-list inset="true">
      <ion-item class="header" color="secondary">
        <ion-icon slot="start" name="paper"></ion-icon>
        <ion-label>DATOS DEL BÁSICOS</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="contact"></ion-icon>
        <ion-label>Nombre*</ion-label>
        <ion-input [disabled]="true" type="text" required name="Nombre" [(ngModel)]="user.NombreCompleto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label>Email*</ion-label>
        <ion-input [disabled]="true" type="text" required name="Email" [(ngModel)]="user.Mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="journal"></ion-icon>
        <ion-label>Cedula*</ion-label>
        <ion-input [disabled]="true" type="text" required name="Cedula" [(ngModel)]="user.Identificacion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label>Origen*</ion-label>
        <ion-input type="text" required name="OrigenDireccion" [(ngModel)]="request.OrigenDireccion"></ion-input>
      </ion-item>
      <ion-item tappable button (click)="showPopupCitiesOrigin()">
        <ion-icon slot="start" name="locate"></ion-icon>
        <ion-label>Ciudad Origen*</ion-label>
        <ion-note slot="end"> {{ cityOrigin.DescripcionCorta}} - {{cityOrigin.DescripcionLarga}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label>Destino*</ion-label>
        <ion-input [disabled]="request.SolicitudId>0" type="text" required name="DestinoDireccion"
          [(ngModel)]="request.DestinoDireccion"></ion-input>
      </ion-item>
      <ion-item tappable button [disabled]="request.SolicitudId>0" (click)="showPopupCitiesTarget()">
        <ion-icon slot="start" name="locate"></ion-icon>
        <ion-label>Ciudad Destino</ion-label>
        <ion-note slot="end"> {{ cityTarget.DescripcionCorta}}-{{ cityTarget.DescripcionLarga}}</ion-note>
      </ion-item>
      <ion-item *ngIf="contractSelected" button>
        <ion-icon slot="start" name="paper"></ion-icon>
        <ion-label position="floating">Contrato</ion-label>
        <ion-note slot="end"> {{ contractSelected.ContratoNombre}}</ion-note>
      </ion-item>
      <ion-item tappable *ngIf="sucursalSelected" tappable button  (click)="showPopupSucursals()">
        <ion-icon slot="start" name="paper"></ion-icon>
        <ion-label position="floating">Sucursal</ion-label>
        <ion-note slot="end"> {{ sucursalSelected.SucursalNombre}}</ion-note>
      </ion-item>
      <ion-item tappable *ngIf="costCenterSelected"  tappable button  (click)="showPopupCostCenter()">
        <ion-icon slot="start" name="paper"></ion-icon>
        <ion-label position="floating">Centro costo</ion-label>
        <ion-note slot="end"> {{ costCenterSelected.CentrocostosNombre}}</ion-note>
      </ion-item>
      <ion-item tappable *ngIf="typeVehicleSelected"  tappable button  (click)="showPopupTypesVehicles()">
        <ion-icon slot="start" name="paper"></ion-icon>
        <ion-label position="floating">Tipo vehiculo*</ion-label>
        <ion-note slot="end"> {{ typeVehicleSelected.Descripcion}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="apps"></ion-icon>
        <ion-label>Tipo servicio*</ion-label>
        <ion-select  required name="typeService" placeholder="Seleccione tipo servicio" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="request.IdTipoServicio">
          <ion-select-option *ngFor="let typeService of typesServicesList" [value]="typeService.Id"> {{ typeService.Id}} - {{ typeService.Nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label position="floating">Fecha y hora</ion-label>
        <ion-datetime doneText="Hecho" cancelText="Cancelar" name="fechaInicial" required [(ngModel)]="request.FechaServicio" displayFormat="DD/MM/YYYY H:m"  [min]="today"  ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>Número Pasajeros*</ion-label>
        <ion-input type="number" required name="numeroP" [(ngModel)]="request.NumeroPasajeros"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="create"></ion-icon>
        <ion-label position="floating">Observaciones del Cliente*</ion-label>
        <ion-textarea required name="ObservCliente" [(ngModel)]="request.ObservCliente"></ion-textarea>
      </ion-item>

     

     


      <ion-button type="submit"
        [disabled]="!newService.form.valid || loading || request.OrigenCiudad==0 ||  request.DestinoCiudad==0 || request.IdTipoServicio==0 || request.TipoVehiculoId ==0"
        type="submit" expand="full" color="secondary">
        <ion-spinner color="primary" *ngIf="loading" slot="end"></ion-spinner>
        CREAR SERVICIO
      </ion-button>














    </ion-list>




  </form>
</ion-content>