<app-header headerName="Conductor">
</app-header>
<ion-content> 
<ion-content>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always" debounce="500" (ionChange)="filter($event)" animated placeholder="Buscar conductor" cancelButtonText="Cancelar"></ion-searchbar>

  </ion-toolbar>
  <div text-center>
    <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
  </div>
  <div padding>
    <ion-button (click)= "close()" expand="full"  color="secondary">   
    CANCELAR    
    </ion-button> 
  </div>
 <ion-list inset="true">
   <ion-item  tappable *ngFor="let item of dataList" (click)="setData(item)">
     <ion-icon slot="start" name="person"></ion-icon>
     <ion-label>{{item.NombreCompleto}}</ion-label>
   </ion-item>
 </ion-list>
</ion-content>
