


.btn {    
    font-size: 13px;
    --border-radius:5px;
}
.btn-forgot {
   @extend .btn;
   color:#A0A2A9;    
}
.btn-signup{
color:#FF0062;
@extend .btn;
}
.btn-facebook {  
  --background:#3B5998;       
  --border-radius:5px;
}
.btn-google {  
   --background:#CC181E;     
   --border-radius:5px;        
}
.lbl_login_or {
  color:#A0A2A9; 
}
.logo {   
    width:130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fingerprint{
  img{
  width: 50px;
  height: auto;
  }
}