<app-header  [headerName]="businessName">  
</app-header>
<ion-content>
  <div>
    <form autocomplete="off" (ngSubmit)="signIn();" #loginForm="ngForm" class="bounceIn">
      <ion-grid fixed>
        <ion-row>
          <ion-col	 padding>
            <div text-center>               
                <ion-img class="logo" [src]="logoApp"></ion-img>
            </div>           
          </ion-col>
        </ion-row>       
        <ion-row>
          <ion-col>
            <ion-item>              
              <ion-input position="fixed" required autofocus="true" name="email" [min]="1" clear-input type="email" placeholder="email"
                [(ngModel)]="register.Email"></ion-input>
              <ion-icon name="person" slot="start"></ion-icon>
            </ion-item>            
          </ion-col>
        </ion-row>     
        <ion-row>
          <ion-col padding>
            <ion-button [disabled]="!isValid()" color="secondary" expand="block" (click)="signIn()" >
                <ion-icon *ngIf="!loading" slot="start" name="checkmark-circle"></ion-icon>
                <ion-spinner color="light" *ngIf="loading" slot="start"></ion-spinner>
                INGRESAR
            </ion-button>        
          </ion-col>
        </ion-row>
       <ion-row text-center>      
       </ion-row>       
      </ion-grid>
    </form>
  </div>
</ion-content>
<ion-footer style="text-align: center;background-color: #F2F2F2;">
 <ion-label >
  <small>Version {{ currentVersion}}</small>
 </ion-label>
</ion-footer>