<app-header headerName="Alistamiento">

</app-header>

<ion-content fullscreen>
  <div *ngIf="!loading">

<form #enlistmentForm="ngForm" (ngSubmit)="Guardar()">
    <div *ngFor="let question of enlistment;let i = index">
        <ng-container [ngSwitch]="question.Seccion">
          <ion-list inset="true">
            <div *ngSwitchCase="1">
              <ion-list-header color="primary">
                <ion-label>{{question.Pregunta | uppercase}} </ion-label>
              </ion-list-header>
            </div>
            <div *ngSwitchCase="0">
              <ion-radio-group [(ngModel)]="question.respuestaUsuario" required [name]="'anwser'+ i">
                <ion-list-header color="secondary">
                  <ion-label>{{question.Pregunta | uppercase}}</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-icon color="primary" slot="end" [name]="'checkmark-circle'"></ion-icon>
                  <ion-label>Si</ion-label>
                  <ion-radio color="success" slot="start" value="2"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-icon color="primary" slot="end" [name]="'close-circle'"></ion-icon>
                  <ion-label>No</ion-label>
                  <ion-radio color="danger" slot="start" value="1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-icon slot="start" name="clipboard"></ion-icon>
                  <ion-input type="text" clearInput="true" clearOnEdit="true" multiple="true"
                    placeholder="Ingrese los detalles aquí" [name]="'observacion' + i" [(ngModel)]="question.observaciones"></ion-input>
                </ion-item>
              </ion-radio-group>             
            </div>
          </ion-list>        
        </ng-container>    
      </div>
      <ion-button [disabled]="!enlistmentForm.form.valid"  expand="block" type="submit" >
          <ion-icon *ngIf="!saving" slot="start" name="checkmark-circle"></ion-icon>
          <ion-spinner *ngIf="saving" slot="start"></ion-spinner>
          GUARDAR
      </ion-button>
      
</form>


   
  </div>

  <ion-list id="skeleton" *ngIf="loading">
    <ion-list-header>
      <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>