<app-header headerName="Ruta">
</app-header>
<ion-content>
  <div text-center>
    <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
  </div>
  <div>
    <ion-button (click)= "close()" expand="full"  color="secondary">   
    CANCELAR    
    </ion-button> 
  </div>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always"  (ionChange)="filter($event)" animated placeholder="Buscar ruta" cancelButtonText="Cancelar"></ion-searchbar>

  </ion-toolbar>
 <ion-list inset="true">
   <ion-item tappable *ngFor="let item of dataList" (click)="setData(item)">
     <ion-icon slot="start" name="git-pull-request"></ion-icon>
     <ion-label>{{item.RutaNombre}}</ion-label>
   </ion-item>
 </ion-list>
</ion-content>
